@model WebAppUser.Models.ActivityLog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ActivityLog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MacAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MacAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameDevice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameDevice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserEMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserEMail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Action)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Action)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdActivityLog">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
